
    <div class="d-flex">
  
  <!-- Sidebar -->
  <div class="bg-light text-dark p-3" style="width: 250px; min-height: 100vh;">
    <h4>School Admin</h4>

    <ul class="nav flex-column" *ngIf="isAdmin">

      

      <!-- Students Menu -->
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#studentMenu"
          role="button"
        >
          Students ▼
        </a>

        <div class="collapse" id="studentMenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/students">
                Search Student
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="student/create">
                Create Student
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Parent Menu -->
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#parentMenu"
          role="button"
        >
          Parents ▼
        </a>

        <div class="collapse" id="parentMenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link text-dark" href="parent/search">
                Search Parent
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="parent/create">
                Create Parent
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- User Menu -->
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#userMenu"
          role="button"
        >
          Users ▼
        </a>

        <div class="collapse" id="userMenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link text-dark" href="user/search">
                User List
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="user/create">
                Create User
              </a>
            </li>
          </ul>
        </div>
      </li>

       <!-- Invoices Menu -->
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#invoiceMenu"
          role="button"
        >
          Invoices ▼
        </a>

        <div class="collapse" id="invoiceMenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link text-dark" href="invoices/list">
                View Invoices
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="invoices/create">
                Create Invoice
              </a>
              </li>
           
          </ul>
        </div>
      </li>

    </ul>

    <ul *ngIf="isParent">
      <!-- Students Menu -->
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#studentMenu"
          role="button"
        >
          Students ▼
        </a>

        <div class="collapse" id="studentMenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link text-dark" href="/students">
                Search Student
              </a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link text-dark" href="student/create">
                Create Student
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Invoices Menu -->
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#invoiceMenu"
          role="button"
        >
          Invoices ▼
        </a>

        <div class="collapse" id="invoiceMenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link text-dark" href="invoices/list">
                View Invoices
              </a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link text-dark" href="invoices/create">
                Create Invoice
              </a>
              </li>

              

              
           
          </ul>
        </div>
      </li>

      <!-- Payments Menu -->
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#paymentMenu"
          role="button"
        >
          Paymenst ▼
        </a>

        <div class="collapse" id="paymentMenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link text-dark" href="payment/list">
                View Payments
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link text-dark" href="payment/create/27">
                Create payment
              </a>
              </li>

              

              
           
          </ul>
        </div>
      </li>
    </ul>
  </div>


</div>